<h1>Flats</h1>
<p class="mt-3"> <%= link_to "create new", new_flat_path, class:"text-decoration-none btn btn-primary btn-sm" %> </p>
<% @flats.each do |flat|%>
  <p><%= link_to flat.name, flat_path(flat), class:"" %></p>
  <%= link_to flat.price_per_night, flat_path(flat), class:"fa-solid fa-euro-sign" %>
  <%= link_to flat.number_of_guest, flat_path(flat), class:"fa-solid fa-people-group" %></p>

  <%= link_to "Delete", flat_path(flat), class:"text-decoration-none btn btn-danger btn-sm", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <%= link_to "Edit", edit_flat_path(flat), class:"text-decoration-none btn btn-info btn-sm" %>
<% end %>
